%h1 CTA Routes

%h3 Top 8 Routes by Number of Stops
%canvas#chartRouteStops{ width: "400", height: "400", style: "width:400px;height:400px;" }
:javascript
  var ctx = document.getElementById("chartRouteStops");
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['9', '49', '151', '8', '3', '82', 'N5', '79'],
      datasets: [{
        label: '# of Stops',
        data: [273, 242, 221, 220, 213, 209, 206, 206],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 204, 255, 0.2)',
          'rgba(204, 102, 0, 0.2)',
          'rgba(155, 155, 155, 0.2)'
        ],
        borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 204, 255, 1)',
          'rgba(204, 102, 0, 1)',
          'rgba(155, 155, 155, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      responsive: false,
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero:true
          }
        }]
      }
    }
  });

.container
  .row
    .col-lg-4
      .panel.panel-default
        .panel-heading List of CTA Routes
        %table.table
          %tr
            %th Route Name
            %th Number of Stops
          -@routes.each do |route|
            %tr
              %td=link_to("#{route[:name]}", cta_route_path(route[:id]))
              %td="#{route[:stop_count]}"

